-- CreateEnum
CREATE TYPE "AssetType" AS ENUM ('THUMBNAIL', 'PREVIEW', 'VIDEO_SOURCE', 'HLS_PLAYLIST', 'HLS_SEGMENT');

-- CreateTable
CREATE TABLE "media_asset" (
    "id" UUID NOT NULL,
    "video_id" UUID NOT NULL,
    "asset_type" "AssetType" NOT NULL,
    "file_name" VARCHAR(500) NOT NULL,
    "mime_type" VARCHAR(50) NOT NULL,
    "file_size" BIGINT NOT NULL,
    "storage_key" VARCHAR(500) NOT NULL,
    "storage_provider" VARCHAR(50) NOT NULL DEFAULT 'r2',
    "width" INTEGER,
    "height" INTEGER,
    "duration" DECIMAL(10,3),
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ NOT NULL,

    CONSTRAINT "media_asset_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_media_asset_video_id" ON "media_asset"("video_id");

-- CreateIndex
CREATE INDEX "idx_media_asset_video_type" ON "media_asset"("video_id", "asset_type");

-- CreateIndex
CREATE INDEX "idx_media_asset_storage_key" ON "media_asset"("storage_key");

-- AddForeignKey
ALTER TABLE "media_asset" ADD CONSTRAINT "media_asset_video_id_fkey" FOREIGN KEY ("video_id") REFERENCES "video"("id") ON DELETE CASCADE ON UPDATE CASCADE;